<%= layout('/layouts/boilerplate'); %>
<div class = "row">
<div class = "col-8 offset-2">
<h3>Add Your Story</h3>

<form action="/listings" method="post">
<div class = "mb-3">
<label for="title" class = "form-label">Title</label>
<input type="text" name = "listing[title]" placeholder="enter title" class = "form-control">
</div>

<div class = "mb-3">
<label for="title" class = "form-label">Description</label>
<textarea name="listing[description]" placeholder= "enter description" class = "form-control"">

</textarea>
</div>

<div class = "mb-3">
<label for="title" class = "form-label">Image</label>

<input name = "listing[image]" placeholder="enter image link" type ="text" class = "form-control">
</div>



<button type = "submit" class = "btn btn-dark add-btn">Add</button>
</form>
<br><br>
</div>
</div>

