<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Front Awesome cdn-->
    <link rel="stylesheet" href="<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />">
    <link rel="stylesheet" href="/css/home.css">
    <title>Anu-Mental Wellness Platform</title>
    
</head>
<body>
    <header class="header">
        <a href="#" class = "logo">Anu</a>
        <i class="fa-solid fa-bars"></i>
        <nav class =  navbar>
          <a href="/listings">Stories</a>
          <a href="https://anu-03640b.zapier.app">Chat With Me</a>

        </nav>
    </header>
    <section class = "home" id = "home">
        <div class="home-content">
            <h1>Hi I am Anu</h1>
            <h2>Your Buddy</h2>
            <p>Seeking connection? I got your back! Whether you're completely lost or just need a little extra support, I am here for you. Dive into my life and friendly stories to not loose hope and build lasting connections and find your place. Take a breath, explore, and let's journey together!</p>
            <a href="https://anu-03640b.zapier.app" class = "btn">Let's Chat</a>
        </div>
        <div class = "home-img">
            <img src="/Resources/aditi.jpeg" alt="">
        </div>
    </section>

    <section class = "story" id="story">
        <h1 class = "heading">My Stories</h1>
        <div class="story-container">
            <div class="story-box">
                <img src="/Resources/story.jpeg" alt="">
                <div class="story-layer">
                    <h2>Story 1</h2>
                    <p>Story 1 is about...</p>
                    <a href="">Read..</a>
                </div>
            </div>
            <div class="story-box">
                <img src="/Resources/story.jpeg" alt="">
                <div class="story-layer">
                    <h2>Story 2</h2>
                    <p>Story 2 is about...</p>
                    <a href="">Read..</a>
                </div>
            </div>
            <div class="story-box">
                <img src="/Resources/story.jpeg" alt="">
                <div class="story-layer">
                    <h2>Story 3</h2>
                    <p>Story 3 is about...</p>
                    <a href="">Read..</a>
                </div> 
            </div>
        </div>
        <br><br><br><br>
        <div class="story-container">
            <div class="story-box">
                <img src="/Resources/story.jpeg" alt="">
                <div class="story-layer">
                    <h2>Story 1</h2>
                    <p>Story 1 is about...</p>
                    <a href="">Read..</a>
                </div>
            </div>
            <div class="story-box">
                <img src="/Resources/story.jpeg" alt="">
                <div class="story-layer">
                    <h2>Story 2</h2>
                    <p>Story 2 is about...</p>
                    <a href="">Read..</a>
                </div>
            </div>
            <div class="story-box">
                <img src="/Resources/story.jpeg" alt="">
                <div class="story-layer">
                    <h2>Story 3</h2>
                    <p>Story 3 is about...</p>
                    <a href="">Read..</a>
                </div> 
            </div>
        </div>

    </section>  
    <section class = "footer">
        
            <p> 2024 &copy; Anu | All rights reserved | All Images are AI generated</p>
        
     
    </section> 
    <script src="home.js"></script>
</body>
</html>
